apiVersion: apps/v1
kind: Deployment
metadata:
  name: classifier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: classifier
  template:
    metadata:
      labels:
        app: classifier
    spec:
      containers:
        - name: classifier
          image: chaos-classifier:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5002
---
apiVersion: v1
kind: Service
metadata:
  name: classifier
spec:
  selector:
    app: classifier
  ports:
    - protocol: TCP
      port: 5002
      targetPort: 5002
