apiVersion: apps/v1
kind: Deployment
metadata:
  name: chaos-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chaos-backend
  template:
    metadata:
      labels:
        app: chaos-backend
    spec:
      containers:
        - name: backend
          image: chaos-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5001
---
apiVersion: v1
kind: Service
metadata:
  name: chaos-backend
spec:
  selector:
    app: chaos-backend
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
